<div class="container marg2">
    <br>
    <br><br>
        <div class="row">
            <div class="col-lg-12 ">
<% if user_signed_in? and current_user.tipo == 'administrador' %>

  <h1>Listado de comunas</h1>

  <br><br><br>
<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Lista de comunas</div>
      <div class="panel-body">
        <p class="center"> En esta sección es posible ver, agregar o modificar comunas en las que es posible, eventualmente, asignar en un viaje.<br>
        
        </p>
      </div>

      <!-- Table -->
      <table class="table">

    <thead>
      <tr>
        <th>Nombre comuna</th>
        <th>Número comuna</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @comunnes.each do |comunne| %>
        <tr>
          <td><%= comunne.nom_comun %></td>
          <td><%= comunne.num_comun %></td>
          <td><%= button_to 'Ver', comunne, :method => 'get', :class => 'btn btn-info' %></td>
          <td><%= button_to 'Editar', edit_comunne_path(comunne), :method => 'get', :class => 'btn btn-warning' %></td>
          <td><%= button_to 'Eliminar', comunne, method: :delete, data: { confirm: '¿Confirma eliminación?' }, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= button_to 'Nuevo', new_comunne_path, :method => 'get', :class => 'btn btn-default' %>

<% end %>
</div></div></div></div>
