<% if user_signed_in? and current_user.tipo == 'administrador' %>

<div class="container marg2">
		<br><br><br>
		
        <div class="row">


            <div class="col-lg-12 ">
            	<%= button_to 'Atras', :back, :class => "btn btn-primary previous" %>
				<div class="row cn1">
					<div class="col-lg-4 ">
							<!--<a href="#"><img class="img-circle img-borde" height="250px" src="https://lh4.ggpht.com/xy_lXoF9yFyIYHPgu4nHF-7-kMUmIvQzahQRG9LlsKmJ23KRpAs_RAYurSbzpzseo-Rc=w300" /></a> -->
						<%= link_to image_tag("../../assets/admin3.png", :height=> 150, :class=>'img-circle img-borde'), :controller => 'kilometers_prices'%>

						<h3>Valor Kilometro</h3>
												<hr>

				
						<br><br>

						

					</div>
					<div class="col-lg-4 ">
							
							<%= link_to image_tag("../../assets/admin4.jpg", :height=> 150, :class=>'img-circle img-borde'), :controller => 'base_prices'%>

						<h3>Bajada de bandera</h3>
												<hr>

						<br><br>


					</div>
					<div class="col-lg-4 ">
					<%= link_to image_tag("../../assets/admin5.jpg", :height=> 150, :class=>'img-circle img-borde'), :controller => 'owner_commissions'%>

					
						

						<h3>Comisión dueño de vehículos</h3>
												<hr>
				
						<br><br>


					</div>	
				</div>
			</div>
		</div>	
		<div class="row">
            <div class="col-lg-12 ">
				<div class="row cn1">
					<div class="col-lg-4 ">

						<%= link_to image_tag("../../assets/admin6.jpg", :height=> 150, :class=>'img-circle img-borde'), :controller => 'technical_review_alerts'%>

						<h3>Mensaje revisión técnica</h3>
												<hr>				
						<br><br>



					</div>
					<div class="col-lg-4 ">

						<%= link_to image_tag("../../assets/admin7.png", :height=> 150, :class=>'img-circle img-borde'), :controller => 'comunnes'%>


						<h3>Comunas</h3>
												<hr>				
						<br><br>


					</div>
					<div class="col-lg-4 ">

						<%= link_to image_tag("../../assets/admin7.jpg", :height=> 150, :class=>'img-circle img-borde'), :controller => 'fixed_rates'%>

						<h3>Tarifas Fijas</h3>
												<hr>				
						<br><br>


					</div>
				</div> 
			</div>
		</div>	
</div>

<% end %>