<div class="container marg2">
		<br><br><br>

        <div class="row">

            <div class="col-lg-12 ">

<% if user_signed_in? and current_user.tipo == 'administrador' %>
               	<%= button_to 'Atras', :back, :class => "btn btn-primary" %>

				<div class="row cn1">
					<div class="col-lg-4 ">
						<%= link_to image_tag("../../assets/admin8.jpg", :height=> 150, :class=>'img-circle img-borde'), :controller => 'drivers'%>

						<h3>Conductores</h3>
						<hr>
						
				
						<br><br>

						

					</div>
					<div class="col-lg-4 ">
						
						<%= link_to image_tag("../../assets/admin9.jpg", :height=> 150, :class=>'img-circle img-borde'), :controller => 'offer_vehicles'%>
						<h3>Oferta de vehículos</h3>
							<hr>

					</div>
					<div class="col-lg-4 ">
						<%= link_to image_tag("../../assetsadmin10.jpg", :height=> 150, :class=>'img-circle img-borde'), :controller => 'external_enterprises'%>

						<h3>Empresas</h3>
												<hr>

				
						<br><br>


					</div>	
				</div>
			</div>
		</div>	
		<div class="row">
            <div class="col-lg-12 ">
				<div class="row cn1">
					<div class="col-lg-4 ">
						<%= link_to image_tag("../../assets/admin11.jpg", :height=> 150, :class=>'img-circle img-borde'), :controller => 'roles'%>


						<h3>Roles de usuarios</h3>
												<hr>

				
						<br><br>



					</div>
					<div class="col-lg-4 ">


					</div>
					<div class="col-lg-4 ">
						<%= link_to image_tag("../../assets/admin12.jpg", :height=> 150, :class=>'img-circle img-borde'), :controller => 'vehicles'%>


						<h3>Vehículos</h3>
												<hr>

				
						<br><br>


					</div>
				</div>
			</div>
		</div>	
</div>
<% end %>

