<h1>Listing assigneds</h1>

<table>
  <thead>
    <tr>
      <th>Id veh</th>
      <th>Run driv</th>
      <th>Ini assigned</th>
      <th>Fin assigned</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assigneds.each do |assigned| %>
      <tr>
        <td><%= assigned.id_veh %></td>
        <td><%= assigned.run_driv %></td>
        <td><%= assigned.ini_assigned %></td>
        <td><%= assigned.fin_assigned %></td>
        <td><%= button_to 'Ver', assigned, :method => 'get', :class => 'btn btn-info' %></td>
        <td><%= button_to 'Editar', edit_assigned_path(assigned), :method => 'get', :class => 'btn btn-warning' %></td>
        <td><%= button_to 'Eliminar', assigned, method: :delete, data: { confirm: 'Confirma eliminación?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nuevo', new_assigned_path, :method => 'get', :class => 'btn btn-default' %>
