<br>
<div class="container marg2">
    <div class="row">
        <div class="col-lg-12">
			<div class="col-lg-4">
				<ul class="nav nav-pills nav-stacked largo">
				  	<li> <%=link_to "Distancia y valor", :controller => :operador, :action => :index %> </li>
				  	<li> <%=link_to "Disponibilidad de conductores", :controller => :operador, :action => :disp_conductor %> </li>
				 	<li class="active"> <%=link_to "Lista de solicitudes", :controller => :operador, :action => :solicitudes %> </li>
				  	<li> <%=link_to "Lista de usuarios registrados", :controller => :operador, :action => :usuarios_reg %> </li>

				</ul>
			</div>	
			
			<div class="col-lg-8">

			<div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading center">Lista de solicitudes</div>
                <div class="panel-body">
                  <p class="center"> En esta secci贸n es posible ver, agregar o modificar clientes registrados en ActiveCab.<br>
                  
                  </p>
                </div>

                <!-- Table -->
                <table class="table">					  <thead>
					    <tr>
					      <th>Rut cliente</th>
					      <th>Direcci贸n origen</th>
					      <th>Direcci贸n destino</th>
					      
					      <th>Cantidad pasajeros</th>
					      <th>Fecha creaci贸n solicitud</th>
					      <th>Fecha que necesita servicio</th>
					      <th>Estados solicitud</th>
					    </tr>
					  </thead>

					  <tbody>
					    <% @travel_requests.order("fecha_serv_sol asc").each do |travel_request| %>
					      <tr>
					        <td><%= travel_request.run_cli %></td>
					        <td><%= travel_request.dir_orig_sol.to_s+ " "+ travel_request.com_orig_sol.to_s%></td>
					        <td><%= travel_request.dir_dest_sol+" "+travel_request.com_dest_sol %></td>
					        
					        
					        <td><%= travel_request.cant_pasaj_sol %></td>
					        <td><%= travel_request.fecha_crea_sol %></td>
					        <td><%= travel_request.fecha_serv_sol %></td>
					        <td><%= travel_request.est_sol %></td>

					      </tr>
					    <% end %>
					  </tbody>
					</table>
			</div>
				
		</div>    		
	</div>

</div>      

    


