<div class="container marg2">
    <br>
    <br><br>
        <div class="row">
            <div class="col-lg-12 ">

<h1>Listado de expiracion de revisión técnica</h1>
<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Lista de expiración revisión técnica</div>
      <div class="panel-body">
        <p class="center"> En esta sección es posible modificar los datos de las respectivas expiraciones de revisiones técnicas.<br>
        
        </p>
      </div>

      <!-- Table -->
      <table class="table">


  <thead>
    <tr>
      <th>Mes vencimiento</th>
      <th>Número vencimiento</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @technical_review_expirations.each do |technical_review_expiration| %>
      <tr>
        <td><%= technical_review_expiration.mes_venc_rev_tec %></td>
        <td><%= technical_review_expiration.num_venc_rev_tec %></td>
        <td><%= button_to 'Ver', technical_review_expiration , :method => 'get', :class => 'btn btn-info'%></td>
        <td><%= button_to 'Editar', edit_technical_review_expiration_path(technical_review_expiration) , :method => 'get', :class => 'btn btn-warning'%></td>
        <td><%= button_to 'Eliminar', technical_review_expiration, method: :delete, data: { confirm: '¿Confirma eliminación??' } , :class => 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nuevo', new_technical_review_expiration_path  , :method => 'get', :class => 'btn btn-default'%>
